[Unit]
Description=RemoteUSB GPIO Handler (LED + Taster)
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/remoteusb-gpio.py
Restart=always
RestartSec=5
EnvironmentFile=/etc/remoteusb/gpio.env

[Install]
WantedBy=multi-user.target
